::root {
  --purple:rgb(151, 62, 151);
  --lavender:rgb(249, 195, 249);
  --gray: rgb(212, 203, 203) ;
  --black: black;
  --white: #fff;
  margin: 0
}    
::selection {
background-color: var(--purple);
color: var(--white);
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--lavender);
    background-color: var(--gray);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.625rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.1;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3.0rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2.0rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  .header {
    padding: 60px;
    background: purple;
    color: #fff;
  }

  .header h1 {
    text-align: left;
  }
  
  .header nav {
    text-align: right;
    color:#fff;
    list-style-type:none;
    
  }

  li {
    padding: 10px;
    display: inline;
    list-style-type: none;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  .footer {
    text-align: left;

  }
  
  @media screen and (max-width: 992px) {
    .body {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .body {
      width: 100%;
    }
  }
  
