*{
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 992px) {
    .body {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .body {
      width: 100%;
    }
  }
  

  body {
    font-family: Arial;
    margin: 0;
  }
  
  .header {
    padding: 60px;
    background: purple;
    color: #fff;
  }

  .header h1 {
    text-align: left;
  }
  
  .header nav {
    text-align: right;
    color:#fff;
    list-style-type:none;
    
  }

  li {
    padding: 10px;
    display: inline;
    list-style-type: none;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  .footer {
    text-align: left;

  }
