:root {
  --purple:rgb(151, 62, 151);
  --lavender:rgb(249, 195, 249);
  --gray: rgb(212, 203, 203) ;
  --black: black;
  --white: #fff;
}    
::selection {
background-color: var(--lavender);
color: var(--white);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray);
    background-color: var(--purple);
    border: var(--black)
  }
  
body:local-link {
  color: var(--gray)
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: left;
  }

  h1 {
    font-size: 4rem;

  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3.0rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2.0rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  .nav { 
    text-align: right;
  }

 
 header {
  padding: 60px;
  text-align: left;
  list-style-type:none;
  display: inline;
    }
 
    li {
      text-decoration: none;
      list-style-type:none;
      display: inline;
      padding: 10px;
    }



  main {
    padding: 60px;

  }
  
  main p {
    text-align: left;
    font-size: 1.5rem;

  }
/*
  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  */

  footer {
    padding: 60px;
    list-style-type:none;
    display: inline;
  }
  
  footer li {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    display: inline;
  }

  @media screen and (max-width: 992px) {
    .body {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .body {
      width: 100%;
    }
  }
  
